In [1]:
import pandas as pd
import json

In [2]:
elist=[
    '01289-1',
'01289-2',
'01289-3',
'01327-1',
'3219-11',
'3219-13',
'3219-14',
'3219-15',
'4670-10',
'4670-12',
'05074-1',
'7448-11',
'7448-12',
'7448-13',
'7448-14',
'7448-15',
'7448-16',
'7448-17',
'9224-10',
'9224-11',
'9224-15',
'9224-16',
'9224-17',
'9224-19',
'9224-20',
'09313-1',
'10644-1',
'10697-1',
'10697-2',
'12578-6',
'14053-2',
'17741-1',
'18294-1',
'20021-1',
'20619-1',
'20619-2',
'21124-1',
'21124-3',
'25332-2',
'33913-1',
'33954-1',
'33954-2',
'34561-3',
'34561-4',
'36027-1',
'36592-4',
'36592-5',
'36592-6',
'37967-1',
'37967-3',
'38616-1',
'38984-5',
'39528-1',
'40467-1',
'41267-1',
'42408-2',
'42408-3',
'47092-3',
'47092-6',
'47092-7',
'47092-9',
'47406-1',
'47629-4',
'47629-7',
'47629-8',
'50143-1',
'50143-2',
'53136-2',
'53136-4',
'53136-6',
'53136-7',
'53433-2',
'56768-5',
'56768-6',
'56768-7',
'56768-9',
'63801-4',
'66017-1',
'66017-3',
'66017-5',
'66017-6',
'69057-2',
'69057-3',
'69057-5',
'69202-1',
'76153-1',
'77448-4',
'77448-5',
'77448-9',
'84443-1',
'85436-1',
'86400-3',
'89224-6',
'89224-7',
'89224-8',
'89224-9',
'93219-6',
'93219-7',
'94670-1',
'94670-2',
'94670-3',
'94670-4',
'94670-5',
'94670-7',
'94670-8',
'98409-3',
'98409-4'
]

In [7]:
df = pd.DataFrame()
for fname in elist:
    f=open('data/'+fname,'r')
    c=f.readlines()
    f.close()
    i=[] #标致列
    s=[] #数据列 
    for y in c:
        con=json.loads(y)
        if con.get("contents"): 
            for x in con["contents"]:
                if x.get('indexName') and x.get('labResult'):
                    i+=[x['indexName']]
                    s+=[x['labResult']]
    i+=['labdate']
    s+=[x['labDateChar']]
    df1 = pd.DataFrame()
    df1['indexName']=i
    df1[fname.replace('-','_')]=s
    df1.drop_duplicates('indexName', keep='first', inplace=True)
    df1.index = df1['indexName']
    del df1['indexName']
    df=pd.concat([df, df1], axis=1)

df.to_csv('df.csv')

In [8]:
df.to_excel('data_YYY.xls')